body {
  margin: 4.5em 0em 0em 17em;
  background-image: url(bg.jpg);
}

/* .bg-image {
  background-image: url("bg.png");
  filter: blur(2px);
  -webkit-filter: blur(2px);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
} */

/* tried the above code for setting background but was not able to do so applied different approach */

#left-column {
  background-color: #5a9ffe;
  height: 30em;
  width: 25em;
  float: left;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 2px 0px 5px 3px rgba(68, 59, 59, 0.678);
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 30px;
  text-align: right;
  padding: 30px 20px 0px 0px;
}

img {
  height: 85%;
  width: 85%;
}
#right-column {
  background-color: white;
  height: 30em;
  width: 25em;
  float: left;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 2px 0px 5px 3px rgba(68, 59, 59, 0.678);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #5a9ffe;
  line-height: 0.1em;
  text-align: center;
  padding-top: 30px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#user-login {
  padding: 50px;
  margin-top: -30px;
  margin-left: 30px;
}

.user {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bolder;
}

.user-details {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  height: 30px;
  border-style: groove;
  border-radius: 5px;
}

#remember-me {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #728089;
}
a:link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #728089;
  font-weight: bold;
}

#button-enter {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  height: 30px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #2aa1fe;
  border-color: transparent;
  font-weight: bold;
}

#button-signup {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  height: 30px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #8e9499;
  border-color: transparent;
  font-weight: bold;
}
